<!doctype html>
<html lang="ru" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Библиотека</title>
</head>
<body>

<div class="container" th:replace="fragments/header_fragment :: header_fr"></div>
<h2 class="text-center">Список авторов</h2>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action"
       th:each="a:${authors}" th:text="${a.firstAndLastAuthorName}" th:href="@{/edit_author(id=${a.getAuthorId()})}">
        A second link item</a>

</div>
</body>
</html>